{% extends "base.html" %}

{% block content %}
<h4>Available Books</h4>
<table class="table table-striped">
  <thead>
    <tr>
      <th>ID</th>
      <th>Title</th>
      <th>Author</th>
      <th>Status</th>
    </tr>
  </thead>
  <tbody>
    {% for book in books %}
      <tr>
        <td>{{ book.book_id }}</td>
        <td>{{ book.title }}</td>
        <td>{{ book.author }}</td>
        <td>
          {% if book.status == "Available" %}
            <span class="text-success">{{ book.status }}</span>
          {% else %}
            <span class="text-danger">{{ book.status }}</span>
          {% endif %}
        </td>
      </tr>
    {% endfor %}
  </tbody>
</table>
{% endblock %}
